body {
 font-style: normal;
 font-variant: normal;
}
.container {
  border: 6px solid #ff3300;
  padding-left: 0px;
  padding-right:0px
}


img {
  float: right;
  border-radius: 30%;
}
.jumbotron{
  background-color: #ffcc99;
}

h1 {
  font-family: cursive;
}

}
.top {
  text-align: center;
}

footer {
  text-align: center;
  font-style: italic;
  border: dotted lightblue 2px;
  padding-top: 12px;

}
