body {
 font-style: normal;
 font-variant: normal;
}

img {
  float: right;
  border-radius: 30%;
}
.jumbotron{
  background-color: #ffcc99;
}

h1 {
  font-family: cursive;
}

}
.top {
  text-align: center;
}
